header {
    background-color: none;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.activeSearch {
    width: 30% !important;
}
.searchWrapper {
    .searchTitleWrapper{
        display: flex;
    }
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition-timing-function: ease-in-out;
    transition: 0.23s;

    .searchZone {
        padding: 10px 10px;
        .searchHead {
            .searchTitleWrapper{
                display: flex;
                justify-content: space-between;
                width: 100%;
                h4{
                    font-weight: 700;
                }
            }
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            input {
               width: 100%;
                padding: 10px 0px;
                border: 1px solid #dadada;
            }
            svg {
                display: inline-block;
                font-size: 35px;
            }
        }

        .searchItems {
            height: 90vh;
            overflow: scroll;
            .searchItem {
                margin: 10px 0px;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 30px;
                }
                display: flex;
                justify-content: space-between;
                .searchItemInfo {
                    width: 230px;
                }
                p {
                    font-weight: 700;
                    font-size: 18px;
                    margin: 0;
                }
                .searchImage {
                    width: 90px;
                    height: 90px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.disabledButton {
    a {
        background-color: grey !important;
        cursor: not-allowed;
    }
}

nav img {
    width: 240px;
    height: 140px;
    object-fit: cover;
}

nav {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: none;
}
header .services a {
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    background-color: none;
    color: white;
    display: inline-block;
    padding: 20px 20px;
    letter-spacing: -0.5px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

header .services {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .services a svg {
    font-size: 13px;
}

header .customerServices svg {
    font-size: 17px;
    color: white;
    cursor: pointer;
}
header .customerServices svg:nth-child(2) {
    margin-right: 18px;
}
header .customerServices svg:nth-child(1) {
    margin-right: 18px;
}

header .customerServices svg:nth-child(3) {
    margin-right: 18px;
}

header .customerServices {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.afterScrollNavWrapper {
    height: 0px;
    background-color: white;
    overflow: hidden;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
}
.phoneLogo {
    display: none;
}
.phoneLogo img {
    width: 127px;
    height: 69px;
}

.navActive {
    height: 164px;
}

.mobileNav {
    background-color: white;
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    padding: 0;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(2px 4px 6px black);
}
.activeMobNav {
    width: 85%;
}
.mobileNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.borderClass {
    border-bottom: 1px solid #e8e8e1;
}
.mobileNav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 100%;
    letter-spacing: -1px;
    font-size: 19px;
    display: inline-block;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(220, 215, 215);
}
.mobileNav .iconClose {
    text-align: end;
}
.mobileNav .mobileLinks {
    padding-top: 10px;
}

.basketarea {
    padding: 0px 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000000;
    right: 0;
    width: 0%;
    opacity: 0%;
    overflow: hidden;
    visibility: hidden;
    .basketWrapper {
        flex-direction: column;
        justify-content: space-between;
        // height: 100vh;
        // padding: 5px 0px;
    }
    .basketItems {
        height: 75vh;
        overflow: scroll;
    }
    .basketItem {
        padding: 25px 15px;
        border-top: 2px solid #e8e8e1;
        border-bottom: 2px solid #e8e8e1;
        display: flex;
        justify-content: space-between;
        .basketItemInfos {
            width: 270px;
        }
        p {
            font-weight: 700;
            font-size: 18px;
            margin: 0;
        }
        .basketItemImage {
            width: 90px;
            height: 90px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .basketBottom {
        // height: 15vh;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
        // padding-bottom: 30px;
        .basketTotalPrice {
            display: flex;
            justify-content: space-between;
        }
        p {
            font-weight: 600;
            font-size: 16px;
            // margin: 0;
        }
        a {
            display: inline-block;
            width: 100%;
            padding: 16px 0px;
            background-color: #01bb17;
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
    }
}
.activeBasket {
    visibility: visible;
    width: 33%;
    opacity: 100%;
}

@media screen and (max-width: 767px) {
    .activeBasket {
        visibility: visible;
        width: 90%;
    }
    .activeSearch {
        width: 70% !important;
    }
    .services {
        display: none !important;
    }
    .customerServices {
        margin-top: 30px;
    }
    .navActive {
        height: max-content;
    }
    .mediumLogo {
        display: none;
    }
    .phoneLogo {
        display: block;
    }
    header .customerServices svg:nth-child(1) {
        /* margin-right: 18px; */
        display: none;
    }
    header .customerServices svg:nth-child(2) {
        display: block !important;
    }
    .basketItems {
        height: 80vh !important;
    }
}

@media screen and (min-width: 1023px) {
    .mobileNav {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mobileNav {
        display: none;
    }
    .activeBasket {
        visibility: visible;
        width: 55%;
    }
    .activeSearch {
        width: 50% !important;
    }
}
